.env
keys/*
!keys/.gitkeep
build/
__pycache__/
.pytest_cache/
.venv/
terraform/.terraform/
terraform/*.tfstate*
terraform/terraform.tfvars
terraform/.terraform.lock.hcl
dbt/target/
dbt/dbt_packages/
dbt/logs/
airflow/logs/
local_out/
dbt/.user.yml
debezium.json
